body {
	margin:0;
	padding:0;
	text-align:center;
}

.buttonStyle {
  font-size: 15px;
  width: 150px;
  height: 35px;
  padding: 2px;
  margin: 5px;
  border-style: groove;
}

.mainPanel {
	text-align: center;
}

.titlePanel {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
}

.connectStatusPanel {
	
}

.connectPanel {
	padding: 5px;
}

.commandPanel {
	
}

.commandStatusPanel {
	
}

.devicePanel {
	
}