body {
	margin:0;
	padding:0;
	text-align:center;
}

.buttonStyle {
  font-size: 15px;
  width: 250px;
  height: 35px;
  padding: 2px;
  margin: 5px;
  border-style: groove;
}

.mainPanel {
	text-align: center;
}

.outerPanel {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	background-color: silver;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.innerPanel {
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.separator {
	background-color: silver;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.error {
	font-size: 1em;
	font-weight: bold;
	color: red;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.main {
	width: 100%;
	height: auto;
	text-align: center;
	vertical-align: middle;
}

.titleLabel {
	text-align: center;
	padding: 5px;
	margin: 5px;
	font-size: 2em;
  	font-weight: bold;
  	color: #777777;
}

.inner {
	width: auto;
	height: auto;
	text-align: center;
	margin: 10px;
}

.label {
	width: auto;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

.errorlabel {
	width: auto;
	text-align: center;
	padding: 5px;
	margin: 5px;
	color: red;
}

.button {
	width: 150px;
	text-align: center;
	margin: 10px;
}