*.class
*.DS_Store
*Thumbs.db

# Package Files #
bin/
gen/
*.war
*.ear
Emulation/GWTEmulationServer/war/sessions
DemoServices/TreasureHunt/dist
MobilisServer/service/services.txt

*.classpath
*.settings*

#Xcode workspace
*.xcworkspace
xcuserdata/
liststore.xml

#Eclipse and IntelliJ
.metadata/
.idea/
*.iml
