<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tudresden.inf.rn.mobilis.mxa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.MainActivity"
            android:icon="@drawable/icon"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.tudresden.inf.rn.mobilis.mxa.SERVICEMONITOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="XMPPRemoteService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.tudresden.inf.rn.mobilis.mxa.IXMPPService" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.PreferencesClient"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.tudresden.inf.rn.mobilis.mxa.PREFERENCES" >
                </action>

                <category android:name="android.intent.category.PREFERENCE" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.RosterProvider"
            android:authorities="de.tudresden.inf.rn.mobilis.mxa.provider.roster" >
        </provider>
        <provider
            android:name=".provider.MessageProvider"
            android:authorities="de.tudresden.inf.rn.mobilis.mxa.provider.messages" >
        </provider>

        <activity
            android:name=".activities.Setup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SetupBasics"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.Welcome"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" >
                </category>

                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SetupComplete"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.FileChooserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.JIDSelectionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="de.tudresden.inf.rn.mobilis.mxa.JIDSELECTION" />
            </intent-filter>
        </activity>
    </application>

</manifest>