<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tudresden.inf.rn.mobilis.mxa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:icon="@drawable/mxa_icon"
        android:label="@string/mxa_app_name" >

        <service
            android:name="de.tudresden.inf.rn.mobilis.mxa.XMPPRemoteService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="de.tudresden.inf.rn.mobilis.mxa.activities.PreferencesClient"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="de.tudresden.inf.rn.mobilis.mxa.PREFERENCES" >
                </action>

                <category android:name="android.intent.category.PREFERENCE" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>

        <provider
            android:name="de.tudresden.inf.rn.mobilis.mxa.provider.RosterProvider"
            android:authorities="de.tudresden.inf.rn.mobilis.mxa.provider.roster" android:exported="false" >
        </provider>

        <provider
            android:name="de.tudresden.inf.rn.mobilis.mxa.provider.MessageProvider"
            android:authorities="de.tudresden.inf.rn.mobilis.mxa.provider.messages" android:exported="false">
        </provider>
        
        <activity
            android:name="de.tudresden.inf.rn.mobilis.mxa.activities.FileChooserActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="de.tudresden.inf.rn.mobilis.mxa.activities.Setup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.tudresden.inf.rn.mobilis.mxa.activities.SetupBasics"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.tudresden.inf.rn.mobilis.mxa.activities.SetupComplete"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>