# make a copy of this template, remove the ".template" suffix and edit appropriately
xmppserver=mobilis.inf.tu-dresden.de
xmpplogin=yourloginwithoutserverandresource
xmppresource=optionalresource
xmpppass=yourpass

# list application namespace <-> path mappings here
com.my.app=/users/xyz/bin/myApp/app.jar