<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Connection Service</servlet-name>
    <servlet-class>de.tudresden.inf.rn.mobilis.gwtemulationserver.server.EmuServerConnectServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Connection Service</servlet-name>
    <url-pattern>/gwtemulationserver/connectionService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>de.tudresden.inf.rn.mobilis.gwtemulationserver.server.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/gwtemulationserver/upload</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GWTEmulationServer.html</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>de.tudresden.inf.rn.mobilis.gwtemulationserver.server.CtxListener</listener-class>
  </listener>

</web-app>