html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#page { height: 100% }

#page {
	background-color: #dedede;
	margin: 0 auto;
	overflow: hidden;
	font-family: arial,sans-serif;
}

#page > header {
	border-bottom: 2px ridge #fff;
	padding: 10px;
}

#page > #content {
    height: 100%;
	width: 65%;
	padding: 0px;
	float: left;	
}

#map_canvas {
    height: 100%;
    width: 100%;
}

#page > #map_canvas{ 
    width: 100%;
}

#page #information {
    height: 100%;
	width: 34%;
	float: right;
	border-left: 1px solid #ccc; 
	background:white;
}

#gameinfo {
    height: 45%;
    width: 100%;
    background : white;
}

#chat {
    height: 50%;
    width: 100%;
    background : white;
}

.topinnerbox {
    height : 21px;
    background : #333;
    color :white ;
    width : 100%;
}

.lowerinnerbox {
    height : 100%;
    padding : 5px;
}

.lat{
    margin-top:3px;
    margin-left:6px;
    font-size:small;
}

.lon{
    margin-top:3px;
    margin-left:6px;
    font-size:small;
}

#chatwindow {
    width:33%;
    position:absolute;
    bottom:55px;
}

#chatarea {
    width: 80%;
    height: 35px; 
    overflow-y: hidden;
    resize: none;
}

#chatsend {
    padding:3px;
}

#chattext {
    width:33%;
    position:absolute;
    bottom:5px;
}

#roundinfo_content {
    border: 1px solid #CCCCCC;
    padding:3px;
    margin-bottom:3px;
}

.playerinfobox {
    border: 1px solid #CCCCCC;
    width:100%;
    height:90px;
    margin-bottom: 3px;
}
.playername{
    background: #ccc;
    margin:3px;
    margin-bottom:3px;
    padding-bottom:3px;
    padding:3px;
}
.playerstation{
    margin-top:3px;
    margin-left:6px;
    font-size:small;
}
.playertarget{
    margin-top:1px;
    margin-left:6px;
    font-size:small;
}
.plyertickets{
    margin-top:1px;
    margin-left:6px;
    font-size:small;
}
.tickets {
    float:left;
    margin:3px;
}
.ticketicon{
    margin-top:1px;
    height: 18px;
    width: 18px;
}

.message {
    padding:2px;
}

.playericon {
    margin-top:1px;
    height: 18px;
    width: 18px;
}



.awesome {
    background: #222 url(../img/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}
#opengames { font-size: 0.6em; }
#opengames .ui-selecting { background: #fff; }
#opengames .ui-selected { background: #ccc; color: white; }
#opengames { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#opengames li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  
